@media screen and (min-width: 1200px) {
  .advantages-list {
    max-width: 1200px;
  }
  .advantages:not(:last-child)::after {
    content: '';
    border: 1px solid #ffffffb3;
    height: 124px;
    width: 1px;
    position: absolute;
    top: 50%;
    right: -18px;
    border-width: 0 1px 0 0;
    margin-top: -62px;
  }
  .advantages {
    flex-basis: calc((100% - 70px * 2) / 3);
  }
}
