/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --black: #111;
  --grey: #1e1823;
  --orange: #fd9222;
  --dirty-white: #fafafa;
  --white: #fff;
  --montserrat: montserrat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.content {
  display: flex;
  flex-flow: column;
  background-color: var(--dirty-white);
}
.list {
  list-style: none;
}
