/*  Footer  */
.container {
  width: 365px;
}

.footer {
  background-color: #1e1823;
  background-color: var(--secondary-color, #1e1823);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-logo {
  color: var(--main-accent-color, #fd9222);
}

.footer-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--white-color, #fff);
  margin-bottom: 32px;
}

.footer-contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  color: var(--white-color, #fff);
  margin-bottom: 14px;
  text-decoration: none;
}

.footer-contacts-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--white-color, #fff);
}
.footer-link {
  list-style-type: none;
}

.footer-menu-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color:  #fff;
}

.footer-menu-anchor {
 text-decoration: none;
  color: #fff;
}

.footer-menu-list {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
}

.footer-contacts-list {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-icon-list {
  text-decoration: none;
  display: flex;
}

.footer-icon-point {
  margin-right: 14px;
}

.footer-icon-point {
  margin-right: 14px;
}

.footer-icon-point:last-child {
  margin-right: 0;
}

.footer-icon-item {
  display: flex;
  width: 22px;
  height: 22px;
  fill: var(--white-color, #fff);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item:hover,
.footer-icon-item:focus {
  fill: var(--main-accent-color, #fd9222);
  transform: scale(1.1);
}

.footer-icon-item:active {
  fill: var(--main-accent-color, #fd9222);
  transform: scale(1.1);
}

.footer-icon-list:first-child {
  margin-left: 0;
}

.footer-menu::before {
  max-width: 100%;
  content: '';
  display: block;
  width: 335px;
  height: 0px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: rotate(180deg);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-contacts-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-contacts {
    margin-bottom: 50px;
  }

  .footer-menu-list {
    flex-direction: row;
    gap: 24px;
  }

  .footer-text {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 54px;
  }

  .footer-address {
    margin-right: 50px;
  }

  .footer-icon-item {
    width: 24px;
    height: 24px;
  }

  .footer-menu::before {
    width: 704px;
    margin-bottom: 24px;
  }

  .footer-icon-item:hover,
  .footer-icon-item:focus {
    fill: var(--main-accent-color, #fd9222);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1166px;
  }

  .footer-menu::before {
    width: 100%;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-address {
    margin-right: 64px;
  }

  .footer-contacts {
    margin-bottom: 0;
  }

  .footer-contacts-container {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 365px;
  }
}
