body {
  font-family: 'Montserrat';
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
}
/* HERO SECTION */
.hero-section {
  border-radius: 30px;
  width: 1136px;
  height: 600px;
  margin: 0 auto 72px auto;
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-background-img.jpg),
    lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 381px 40px 40px 40px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  width: 1056px;
  height: 179px;
  gap: 32px;
}
.hero-container-h {
  width: 484px;
  height: 102px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.84px;
}
.hero-btn {
  display: flex;
  justify-content: space-between;
}
.hero-btn1 {
  display: flex;
  gap: 14px;
}
.hero-btn-buynow {
  width: 144px;
  height: 45px;
  color: #ffffff;
  font-size: 14px;
  background: #fd9222;
  gap: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero-btn-buynow:hover,
.hero-btn-buynow:focus {
  background: #fcf1e0;
  color: #fd9222;
}
.submit-btn:hover,
.submit-btn:focus {
  background: #fcf1e0;
  color: #fd9222;
}
.hero-btn-how {
  width: 183px;
  height: 45px;
  display: flex;
  gap: 14px;
  color: #ffffff;
  font-size: 14px;
  background: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 0btn3s ease;
}
.hero-btn-how:hover,
.hero-btn-how:focus {
  color: #fd9222;
  background: #ffffff;
  border: 1px solid #fd9222;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero-btn-how:hover,
.hero-btn-how:focus {
  color: var(--orange);
  background: #ffffff;
  border: 1px solid var(--orange);
}
.hero-btn2 {
  display: flex;
  gap: 14px;
  width: 130px;
  height: 38px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero-btn2-p {
  display: flex;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.42px;
}
.scroll-btn {
  display: flex;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.icon-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-btn2:hover .hero-btn2-p,
.hero-btn2:focus .hero-btn2-p {
  color: #fd9222;
}
.hero-btn2:hover .scroll-btn,
.hero-btn2:focus .scroll-btn {
  background-color: #fd9222;
  color: #fd9222;
}
.hero-btn2:hover .icon-scroll,
.hero-btn2:focus .icon-scroll {
  fill: #ffffff;
}
.icon-close-mobile:hover,
.icon-close-mobile:focus {
  stroke: #fd9222;
}

/* <-------MEDIA QUERY FOR TABLET-------> */
@media (min-width: 768px) and (max-width: 1200px) {
  .hero-section {
    margin: 0 auto;
  }
  .hero-section {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 50px;
    width: auto;
    height: 890px;
    padding-top: 671px;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-background-tablet-img.jpg),
      lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-container {
    width: auto;
    margin: 0 auto;
  }
  .hero-btn {
    display: flex;
    width: auto;
    justify-content: space-between;
  }
}

/* <-------MEDIA QUERY FOR MOBILE-------> */
@media (max-width: 767px) {
  .hero-section {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: 621px;
    padding: 390px 16px 21px 20px;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-background-mobile-img.jpg),
      lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-container {
    width: auto;
  }
  .hero-container-h {
    width: 295px;
    height: 72px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  .hero-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
  }
  .hero-btn-buynow {
    width: 120px;
    height: 41px;
  }
  .hero-btn-how {
    width: 159px;
    height: 41px;
  }
  .scroll-btn {
    width: 28px;
    height: 28px;
  }
}
