ul {
  list-style: none;
}

.top-sellers {
  display: flex;
  justify-content: center;
}

.top-sellers-container {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--dirty-white, #fafafa);
}

.title-orange {
  color: var(--orange, #fd9222);
}

.title-black {
  color: var(--black, #111);
}

.top-sellers-title {
  text-align: center;
}

.buy-now-button {
  color: var(--white, #fff);
  background-color: var(--orange, #fd9222);
  border-radius: 100;
  padding: 14px 40px;
}

.buy-now-button {
  width: 144px;
  height: 45px;
  color: #ffffff;
  font-size: 14px;
  background: #fd9222;
  gap: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-now-button:hover,
.buy-now-button:focus {
  background: #fcf1e0;
  color: #fd9222;
}

/* Media Query */

/* Mobile View */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }

  .top-sellers-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
  }

  .top-sellers-list {
    display: block;
    justify-content: center;
  }

  .top-sellers-text-desktop {
    display: none;
  }

  .image1,
  .image2 {
    width: 335px;
    height: 464px;
  }

  .image3 {
    display: none;
  }

  .top-sellers-text-mobile {
    display: flex;
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .buy-now-button {
    display: block;
    margin: 0 auto;
    margin-top: 20;
  }
}

/* Tablet View */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }

  .top-sellers-title {
    margin-bottom: 50px;
  }

  .top-sellers-list {
    display: flex;
    justify-content: center;
    gap: 16;
  }

  .top-sellers-text-desktop {
    display: none;
  }

  .image1,
  .image2 {
    width: 344px;
    height: 464px;
  }

  .image3 {
    display: none;
  }

  .top-sellers-text-mobile-container {
    display: flex;
    margin-top: 32px;
    gap: 236px;
  }

  .buy-now-button {
    display: flex;
    margin-top: 32px;
  }
}

/* Desktop View */

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }

  .top-sellers-title {
    margin-bottom: 50px;
  }

  .top-sellers-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .top-sellers-list-item {
    display: flex;
    width: 368px;
    height: 464px;
  }

  .top-sellers-text-mobile {
    display: none;
  }

  .top-sellers-text-desktop {
    display: flex;
    margin-top: 32px;
    gap: 567px;
  }

  .buy-now-button {
    display: flex;
    margin: auto;
  }
}
