<section class="choco-isloved-section" id="chocolate-is-loved">
  <div class="choco-container">
    <h2 class="reviews-section-title"><span>Chocolate</span> is loved</h2>
    <div class="swiper swiper-container swiper-loved">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviewer-card">
            <!-- image -->
            <div class="loved-image-container">
              <img
                class="reviews-img"
                srcset="
                  ./images/victoria1x.jpg 1x,
                  ./images/victoria2x.jpg 2x,
                  ./images/victoria3x.jpg 3x
                "
                src="./images/victoria1x.jpg"
                alt="Victoria Dobrzhanska"
              />

              <h3 class="reviewer-content-header">Victoria Dobrzhanska</h3>
            </div>
            <!-- content -->
            <div class="reviewer-content-container">
              <p>
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviewer-card">
            <!-- image -->
            <div class="loved-image-container">
              <img
                class="reviews-img"
                srcset="
                  ./images/nazar1x.jpg 1x,
                  ./images/nazar2x.jpg 2x,
                  ./images/nazar3x.jpg 3x
                "
                src="./images/nazar1x.jpg"
                alt="Nazar Babenko"
                loading="lazy"
              />
              <h3 class="reviewers-name">Nazar Babenko</h3>
            </div>
            <!-- content -->
            <div class="reviewer-content-container">
              <p>
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviewer-card">
            <!-- image -->
            <div class="loved-image-container">
              <img
                class="reviews-img"
                srcset="
                  ./images/olena1x.jpg 1x,
                  ./images/olena2x.jpg 2x,
                  ./images/olena3x.jpg 3x
                "
                src="./images/olena1x.jpg"
                alt="Olena Kampusch"
                loading="lazy"
              />
              <h3 class="reviewers-name">Olena Kampusch</h3>
            </div>
            <div class="reviewer-content-container">
              <p class="reviews-text">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviewer-card">
            <!-- image -->
            <div class="loved-image-container">
              <img
                class="reviews-img"
                srcset="
                  ./images/victoria1x.jpg 1x,
                  ./images/victoria2x.jpg 2x,
                  ./images/victoria3x.jpg 3x
                "
                src="./images/victoria1x.jpg"
                alt="Victoria Dobrzhanska"
              />
              <h3 class="reviewer-content-header">Victoria Dobrzhanska</h3>
            </div>
            <!-- content -->
            <div class="reviewer-content-container">
              <p>
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
    <button type="button" class="btn btn-review" data-modal-open="review">
      Leave a review
    </button>
  </div>
</section>
