<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <a class="logo link" href="">SIMPLY CHOCOLATE</a>
      <svg class="logo-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </div>
    <div class="menu">
      <ul class="menu-list">
        <li class="menu-list-item list">
          <a class="menu-list-item-link link" href="">Home</a>
        </li>
        <li class="menu-list-item list">
          <a class="menu-list-item-link link" href="">How it’s made?</a>
        </li>
        <li class="menu-list-item list">
          <a class="menu-list-item-link link" href="">Our products</a>
        </li>
        <li class="menu-list-item list">
          <a class="menu-list-item-link link" href="">Top sellers</a>
        </li>
        <li class="menu-list-item list">
          <a class="menu-list-item-link link" href="">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="menu-networks-list">
        <li class="menu-networks-list-item list">
          <a
            class="menu-networks-list-item-link link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="icon-instagram" width="24" height="24" stroke="#111111">
              <use href="./images/icons.svg#icon-instagram-desktop"></use>
            </svg>
          </a>
        </li>
        <li class="menu-networks-list-item list">
          <a
            class="menu-networks-list-item-link link"
            href="https://twitter.com/"
            target="_blank"
          >
            <svg class="icon-twitter" width="24" height="24" stroke="#111111">
              <use href="./images/icons.svg#icon-twitter-desktop"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="tablet-hamburger-icon">
      <svg
        class="menu-hamburger-tablet-icon menu-button js-open-menu"
        width="32"
        height="32"
      >
        <use href="./images/icons.svg#icon-hamburger"></use>
      </svg>
    </div>
  </div>
  <!-- mobile view header-->
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-menu-subcontainer">
        <button class="mobile-menu-close js-close-menu">
          <svg
            class="icon-close-mobile"
            width="32"
            height="32"
            stroke="#ffffff"
          >
            <use href="./images/icons.svg#icon-close-mobile"></use>
          </svg>
        </button>
        <div class="mobile-navmenu">
          <ul class="mobile-menu-list">
            <li class="mobile-menu-list-item list">
              <a class="mobile-menu-list-item-link link" href="">Home</a>
            </li>
            <li class="mobile-menu-list-item list">
              <a class="mobile-menu-list-item-link link" href=""
                >How it’s made?</a
              >
            </li>
            <li class="mobile-menu-list-item list">
              <a class="mobile-menu-list-item-link link" href=""
                >Our products</a
              >
            </li>
            <li class="mobile-menu-list-item list">
              <a class="mobile-menu-list-item-link link" href="">Top sellers</a>
            </li>
            <li class="mobile-menu-list-item list">
              <a class="mobile-menu-list-item-link link" href=""
                >Chocolate is loved</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="mobile-menu-socialmedia">
        <ul class="mobile-menu-socialmedia-list">
          <li class="list">
            <a class="link" href="https://www.instagram.com/" target="_blank">
              <svg
                class="icon-instagrammobile"
                width="24"
                height="24"
                stroke="#ffffff"
              >
                <use href="./images/icons.svg#icon-instagram-mobile"></use>
              </svg>
            </a>
          </li>
          <li class="list">
            <a class="link" href="https://twitter.com/" target="_blank">
              <svg
                class="icon-twittermobile"
                width="24"
                height="24"
                stroke="#ffffff"
              >
                <use href="./images/icons.svg#icon-twitter-mobile"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
