<section class="hero-section">
  <div class="hero-container">
    <h3 class="hero-container-h">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h3>
    <div class="hero-btn">
      <div class="hero-btn1">
        <button
          data-modal-open="buy-now"
          class="hero-btn-buynow btn1"
          type="button"
        >
          Buy now
        </button>
        <button class="hero-btn-how btn1" type="button">How it’s made</button>
      </div>
      <div class="hero-btn2">
        <p class="hero-btn2-p">scroll down</p>

        <button class="scrolldown-btn">
          <svg class="icon-scroll" width="22" height="22" fill="#FD9222">
            <use href="./images/icons.svg#icon-scroll"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
