
    <!-- Reviews Section -->
<section id="chocolate-is-loved" class="reviews-section">
    <div class="container slick-content">
      <h2 class="reviews-section-tittle">
        <span class="reviews-section-tittle-brown">Chocolate</span> is loved
      </h2>

      <div class="slick-chocolate-is-loved">
        <div class="reviews-item-wrapper">
          <div class="reviews-item">
            <img
              class="reviews-img"
              srcset="
                ./images/victoria1x.jpg 1x,
                ./images/victoria2x.jpg 2x,
                ./images/victoria3x.jpg 3x
              "
              src="./images/victoria1x.jpg"
              alt="Victoria Dobrzhanska"
              width="80"
              height="80"
              loading="lazy"
            />

            <div class="reviews-thumb">
              <h3 class="reviews-name">Victoria Dobrzhanska</h3>
              <p class="reviews-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-item-wrapper">
          <div class="reviews-item">
            <img
              class="reviews-img"
              srcset="
                ./images/nazar1x.jpg 1x,
                ./images/nazar2x.jpg 2x,
                ./images/nazar3x.jpg 3x
              "
              src="./images/nazar1x.jpg"
              alt="Nazar Babenko"
              width="80"
              height="80"
              loading="lazy"
            />

            <div class="reviews-thumb">
              <h3 class="reviews-name">Nazar Babenko</h3>
              <p class="reviews-text">
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-item-wrapper">
          <div class="reviews-item">
            <img
              class="reviews-img"
              srcset="
                ./images/olena1x.jpg 1x,
                ./images/olena2x.jpg 2x,
                ./images/olena3x.jpg 3x
              "
              src="./images/olena1x.jpg"
              alt="Olena Kampusch"
              width="80"
              height="80"
              loading="lazy"
            />

            <div class="reviews-thumb">
              <h3 class="reviews-name">Olena Kampusch</h3>
              <p class="reviews-text">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </div>
          </div>
        </div>

      </div>

      <button type="button" class="btn btn-review" data-modal-open="review">
        Leave a review
      </button>
    </div>
    <!-- Leave Review Modal  -->



  </section>



