<div class="main-modal is-hidden" data-modal="subscribe">
  <div class="subscribe-modal ">
    <div class="subscribe-modal-window">

      <button type="button" class="subscribe-button-close" data-modal-close="subscribe">
        <svg class="subscribe-button-close-svg" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px">
          <use xlink:href="./images/icons.svg#close-btn">
        </svg>
      </button>
    </div>
    <div class="subscribe-modal-form">
      <div class="subscribe-header-form-container">
        <!-- above is the div container for header and form added 2-3-2024 2:38pm -->
        <h2 class="subscribe-modal-header">Explore Our<br /> <span class="subscribe-new-chocolate">New
                            Chocolate</span> First!</h2>

        <form class="subscribe-modal-email-form">
          <label class="subscribe-modal-email-label" for="user-email">
            <div class="subscribe-modal-input-container">
              <input class="subscribe-modal-input" type="email" id="user-email" name="user-email"
                     placeholder="Enter your email" />


              <button class="subscribe-modal-btn" type="submit">Subscribe</button>
            </div>

          </label>
        </form>
      </div>


    </div>
  </div>
</div>