<div class="modal-window is-hidden" data-modal="buy-now">
  <div class="backdrop">
    <div class="modal">
      <button class="close-button" data-modal-close="buy-now" type="button">
        <svg class="modal-close" width="28" height="28">
          <use href="./images/icons.svg#icon-close-modal24"></use>
        </svg>
      </button>
      <h2>buy <span class="buynow-span">now</span></h2>
      <div class="buynow-chocolate">
        <ul class="choco-list">
          <li class="choco-list-item list">
            <img
              class="buynow-chocolate-image"
              src="./images/kissing-chocolate-bar.png"
              srcset="
                ./images/kissing-chocolate-bar_1x.jpg 1x,
                ./images/kissing-chocolate-bar_2x.png 2x
              "
              alt="kisspng-chocolate-bar"
              width="120"
              height="107"
            />
            <button class="modal-buynow-btn" type="button">100 g</button>
          </li>
          <li class="choco-list-item list">
            <img
              class="buynow-chocolate-image"
              src="./images/white-chocolate.png"
              srcset="
                ./images/white-chocolate_1x.png 1x,
                ./images/white-chocolate_2x.png 2x
              "
              alt="white-chocolate"
              width="120"
              height="107"
            />
            <button class="modal-buynow-btn" type="button">200 g</button>
          </li>
          <li class="choco-list-item list">
            <img
              class="buynow-chocolate-image"
              src="./images/chocolate-nuts.png"
              srcset="
                ./images/chocolate-nuts_1x.png 1x,
                ./images/chocolate-nuts_2x.png 2x
              "
              alt="chocolate-nuts"
              width="120"
              height="107"
            />
            <button class="modal-buynow-btn" type="button">300 g</button>
          </li>
        </ul>
      </div>
      <form class="modalform">
        <div class="input-container">
          <label class="input-label" for="user-name"
            >Personal information</label
          >
          <div class="input-area input-personalinfo-container">
            <input
              class="input-data"
              type="text"
              id="user-name"
              name="user-name"
              placeholder="Name"
              required
            />
            <input
              class="input-data"
              type="text"
              id="user-surname"
              name="user-surname"
              placeholder="Surname"
              required
            />
          </div>
        </div>
        <div class="input-container input-email-container">
          <label class="input-label" for="user-email">Email</label>
          <div class="input-area input-email">
            <input
              class="input-data"
              type="email"
              id="user-email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>
        </div>
        <div class="input-container input-number-container">
          <label class="input-label" for="user-number">Phone number</label>
          <div class="input-area input-number-area">
            <div class="flag-code">
              <div class="flag">
                <svg class="flag-icon" width="32" height="24">
                  <use href="./images/icons.svg#icon-ukraine-flag"></use>
                </svg>
              </div>
              <div class="code-number">
                <p>+380</p>
              </div>
          </div>
        </div>
        <div class="input-container input-card-container">
          <label class="input-label" for="user-card">Card number</label>
          <div class="input-area input-card">
            <input
              class="input-data"
              type="text"
              id="user-card"
              name="card number"
              placeholder="Enter card"
              required
            />
            <svg class="mastercard-icon" width="30.171" height="18.408">
              <use href="./images/icons.svg#icon-mastercard"></use>
            </svg>
          </div>
        </div>
        <div class="input-container input-user-comment-container">
          <label class="input-label" for="user-comment">Comment</label>
          <textarea
            id="user-comment"
            class="user-comment"
            placeholder="Enter text"
            name="user-comment"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <button class="submit-btn" data-modal-close="buy-now" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
