<section class="slider-section">
        <div class="container-product">
            <h2 class="product-header">OUR &nbsp; <span class="product-header-span">PRODUCTS</span></h2>
            <div class="swiper swiper-container mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-1-1x.jpg, ./images/product-1-2x.jpg" src="./images/product-1-2x.jpg" alt="Orange wrapped chocolate"
                                    width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">ORANGE</h3>
                                <p class="product-content-paragraph">Dark chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">45 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-2-1x.jpg, ./images/product-2-2x.jpg" src="./images/product-2-2x.jpg"
                                    alt="apple & cranberry violet wrapped chocolate" width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">APPLE&CRANBERRY</h3>
                                <p class="product-content-paragraph">Milk chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">50 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-3-1x.jpg, ./images/product-3-2x.jpg" src="./images/product-3-2x.jpg"
                                    alt="lime & sea salt skyblue wrapped chocolate" width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">LIME&SEA SALT</h3>
                                <p class="product-content-paragraph">Dark chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">66 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-4-1x.jpg, ./images/product-4-2x.jpg" src="./images/product-4-2x.jpg"
                                    alt="pineapple dandelion wrapped chocolate" width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">PINEAPPLE</h3>
                                <p class="product-content-paragraph">Dark chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">54 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-5-1x.jpg, ./images/product-5-2x.jpg" src="./images/product-5-2x.jpg"
                                    alt="classic milk light blue wrapped chocolate" width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">CLASSIC</h3>
                                <p class="product-content-paragraph">Milk chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">45 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-6-1x.jpg, ./images/product-6-2x.jpg" src="./images/product-6-2x.jpg"
                                    alt="honey orange-yellow wrapped chocolate" width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">HONEY</h3>
                                <p class="product-content-paragraph">Milk chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">50 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-7-1x.jpg, ./images/product-7-2x.jpg" src="./images/product-7-2x.jpg"
                                    alt="roasted winter fruits dark-green wrapped chocolate" width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">ROASTED FRUITS</h3>
                                <p class="product-content-paragraph">Dark chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">66 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card">
                            <!-- image -->
                            <div class="product-image-container">
                                <img class="product-image" srcset="./images/product-8-1x.jpg, ./images/product-8-2x.jpg" src="./images/product-8-2x.jpg"
                                    alt="classic white baby blue wrapped chocolate" width="230px">
                            </div>
                            <!-- content -->
                            <div class="product-content-container">
                                <h3 class="product-content-header">CLASSIC</h3>
                                <p class="product-content-paragraph">White chocolate</p>
                                <div class="product-button-container">
                                    <button width="94px" class="product-content-button">54 UAH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="swiper-pagination"></div>
            </div>

            <!-- Swiper JS -->
            <script src="js/swiper-bundle.js"></script>

            <!-- Initialize Swiper -->
            <script src="js/slider.js">
             
            </script>