<section class="subscribe-section">
    <div class="container">
        <h2 class="subscribe-header">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
        <p class="subscribe-paragraph">
            From the velvety texture to the rich and complex flavor, our New
            Chocolate is a true indulgence that will leave you craving more. Made
            with only the finest ingredients and handcrafted with the utmost care,
            each piece is a work of art that is sure to please.
        </p>
        <button data-modal-open="subscribe" class="subscribe-btn" type="button">Subscribe</button>
    </div>


    <div class="main-modal is-hidden" data-modal>
        <div class="subscribe-modal ">
            <div class="subscribe-modal-window">

                <button type="button" class="subscribe-button-close" data-modal-close>
                    <svg class="subscribe-button-close-svg" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px">
                        <use xlink:href="./images/icons.svg#close-btn">
                    </svg>
                </button>
            </div>
            <div class="subscribe-modal-form">
                <div class="subscribe-header-form-container">
                    <!-- above is the div container for header and form added 2-3-2024 2:38pm -->
                    <h2 class="subscribe-modal-header">Explore Our<br /> <span class="subscribe-new-chocolate">New
                            Chocolate</span> First!</h2>

                    <form class="subscribe-modal-email-form">
                        <label class="subscribe-modal-email-label" for="user-email">
                            <div class="subscribe-modal-input-container">
                                <input class="subscribe-modal-input" type="email" id="user-email" name="user-email"
                                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                                placeholder="Enter your email" />


                                <button class="subscribe-modal-btn" type="submit">Subscribe</button>
                            </div>

                        </label>
                    </form>
                </div>


            </div>
        </div>
    </div>
</section>



