<!-- Top Sellers Section-->
<section class="top-sellers">
  <div class="container">
    <div class="top-sellers-container">
      <h2 class="top-sellers-title">
        <span class="title-orange">TOP </span
        ><span class="title-black">SELLERS</span>
      </h2>
      <ul class="top-sellers-list">
        <li class="top-sellers-list-item">
          <img
            class="image1"
            srcset="./images/image1-1x.jpg, ./images/image1-2x.jpg"
            src="./images/image1.jpg"
            alt="chocolate bars and cacao beans"
            width="368"
            height="464"
          />
          <p class="top-sellers-text-mobile">
              Crazy enough chocolate originates from a <br />
              bean just like the coffee bean called Cacao. <br />
              Cacao has been around for thousands of <br />
              years and was first discovered by the Native <br />
              American tribe called the Mayans.
          </p>
        </li>
        <li class="top-sellers-list-item">
          <img
            class="image2"
            srcset="./images/image2-1x.jpg, ./images/image2-2x.jpg"
            src="./images/image2.jpg"
            alt="chocolate bars with chunks and leaf of top"
            width="368"
            height="464"
          />
        </li>
        <li class="top-sellers-list-item">
          <img
            class="image3"
            srcset="./images/image3-1x.jpg, ./images/image3-2x.jpg"
            src="./images/image3.jpg"
            alt="assorted chocolate bars tower"
            width="368"
            height="464"
          />
        </li>
      </ul>
      <div class="top-sellers-text-desktop">
        <p>
          Crazy enough chocolate originates from a bean just like the <br />
          coffee bean called Cacao. Cacao has been around for <br />
          thousands of years and was first discovered by the Native <br />
          American tribe called the Mayans.
        </p>
        <button class="buy-now-button" type="button" data-modal-open="buy-now">
          Buy now
        </button>
      </div>
  </div>
</section>
